@model cMcglynnShoppingApp.Models.CodeFirst.CartItem
<div style="margin-left:330px; font:bolder; font-family:'Franklin Gothic Book';">
    @{
        ViewBag.Title = "Delete";
    }

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>CartItem</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ItemId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.created)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <button style="border-radius: 8px;border: 2px solid white; margin-top:2px; " class="w3-button w3-ripple w3-blue">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        }
    </div>
    </div>